    *{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    body{
      background: #222;
    }
    /*  */
    .container{
      display: flex;
      flex-direction: row;/* Culam ,row ,row-reverse, column, column-reverse */
      justify-content: space-around;    /*  center,start,end,space-between,/*
      align-items: center;
      /* gap: 20px; */ 
      /* justify-content: center; */

    }
    .box{
      width: 150px;
      height: 150px;
      border-radius: 10px;
    }

    .box1{
      background: red;
    }

   .box2{
      background: blue;
    }

    .box3{
      background: green;
    }
    .box4{
      background: yellow;
    }
    .box5{
          background: purple;
        }
    .box6{
          background: orange;
        }
