    *{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    body{
      background: #222;
    }
    nav{
      padding: 20px;
      display: flex;
      justify-content: center;
      gap: 40px;
      background: #000000;
      color: #fff;  
    }







    .container{
      display: flex;
      flex-direction: row;/* Culam ,row ,row-reverse, column, column-reverse */
      justify-content: space-around;    /*  center,start,end,space-between,*/
      flex-wrap: wrap; /* nowrap,wrap,wrap-reverse */
      /* align-items: start;   align-content: center; */
      
      /* gap: 20px; */ 
      /* justify-content: center; */

    }
    .box{
      width: 150px;
      height: 150px;
      border-radius: 10px;
    }

    .box1{
      background: red;
    }

   .box2{
      background: blue;
    }

    .box3{
      background: green;
    }
    .box4{
      background: yellow;
    }
    .box5{
          background: purple;
        }
    .box6{
          background: orange;
        }
