    *{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    body{
      background: #7b7a7a;
    }
    .grid-container{
      display: grid;
      /* grid-template-columns: 350px 350px 350px 350px; */
      grid-template-columns: 1fr 1fr  1fr 1fr 1fr;  
      grid-template-rows: 1fr 1fr 1fr;
      /* padding-left: 30px; */
      gap: 10px;
    }

    .grid-item1{
      background: hsl(101, 86%, 50%);
    }
    .grid-item2{
      background: #ece112;
    }
    .grid-item3{
      background: #6d12ec;
    }
    .grid-item4{
      background: #12ecb2;
    }
    /* .grid-item5{
      width: 100px;
      height: 100px;
      background: #ec1212;
    }
    .grid-item6{
      width: 100px;
      height: 100px;
      background: #ec1212;
    }
    .grid-item7{
      width: 100px;
      height: 100px;
      background: #ec1212;
    }
    .grid-item8{
      width: 100px;
      height: 100px;
      background: #ec1212;
    } */